SetEnv PHP_VER 5_4 

<IfModule mod_rewrite.c>
	Options -MultiViews

	RewriteEngine On
	RewriteBase /
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
 	RewriteRule ^(.+) ?$1 [L]
</IfModule>